
*.opendb
*.db-wal
*.db-shm
*.db
*.vsidx
*.vcxproj
*.ipch
*.db
*.vsidx
*.vsidx
*.testlog
*.db
*.lock
chess-engine/.vs/chess-engine/v17/.suo
*.pch
*.recipe
*.log
*.CopyComplete
*.tlog
*.pdb
*.obj
*.p7s
*.manifest
*.pump
*.md
*.targets
*.nupkg
chess-engine/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.5/build/native/1028/googletest.propertiesui.xml
chess-engine/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.5/build/native/1029/googletest.propertiesui.xml
chess-engine/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.5/build/native/1031/googletest.propertiesui.xml
chess-engine/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.5/build/native/1033/googletest.propertiesui.xml
chess-engine/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.5/build/native/1034/googletest.propertiesui.xml
chess-engine/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.5/build/native/1036/googletest.propertiesui.xml
chess-engine/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.5/build/native/1040/googletest.propertiesui.xml
chess-engine/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.5/build/native/1041/googletest.propertiesui.xml
chess-engine/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.5/build/native/1042/googletest.propertiesui.xml
chess-engine/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.5/build/native/1045/googletest.propertiesui.xml
chess-engine/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.5/build/native/1046/googletest.propertiesui.xml
chess-engine/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.5/build/native/1049/googletest.propertiesui.xml
chess-engine/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.5/build/native/1055/googletest.propertiesui.xml
chess-engine/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.5/build/native/2052/googletest.propertiesui.xml
chess-engine/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.5/build/native/include/gtest/gtest-death-test.h
chess-engine/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.5/build/native/include/gtest/gtest-message.h
chess-engine/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.5/build/native/include/gtest/gtest-param-test.h
chess-engine/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.5/build/native/include/gtest/gtest-printers.h
chess-engine/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.5/build/native/include/gtest/gtest-spi.h
chess-engine/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.5/build/native/include/gtest/gtest-test-part.h
chess-engine/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.5/build/native/include/gtest/gtest-typed-test.h
chess-engine/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.5/build/native/include/gtest/gtest.h
chess-engine/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.5/build/native/include/gtest/gtest_pred_impl.h
chess-engine/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.5/build/native/include/gtest/gtest_prod.h
chess-engine/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.5/build/native/include/gtest/internal/custom/gtest-port.h
chess-engine/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.5/build/native/include/gtest/internal/custom/gtest-printers.h
chess-engine/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.5/build/native/include/gtest/internal/custom/gtest.h
chess-engine/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.5/build/native/include/gtest/internal/gtest-death-test-internal.h
chess-engine/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.5/build/native/include/gtest/internal/gtest-filepath.h
chess-engine/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.5/build/native/include/gtest/internal/gtest-internal.h
chess-engine/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.5/build/native/include/gtest/internal/gtest-linked_ptr.h
chess-engine/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.5/build/native/include/gtest/internal/gtest-param-util-generated.h
chess-engine/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.5/build/native/include/gtest/internal/gtest-param-util.h
chess-engine/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.5/build/native/include/gtest/internal/gtest-port-arch.h
chess-engine/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.5/build/native/include/gtest/internal/gtest-port.h
chess-engine/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.5/build/native/include/gtest/internal/gtest-string.h
chess-engine/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.5/build/native/include/gtest/internal/gtest-tuple.h
chess-engine/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.5/build/native/include/gtest/internal/gtest-type-util.h
chess-engine/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.5/lib/native/v140/windesktop/msvcstl/static/rt-dyn/x64/Debug/gtest_maind.lib
chess-engine/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.5/lib/native/v140/windesktop/msvcstl/static/rt-dyn/x64/Debug/gtestd.lib
chess-engine/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.5/lib/native/v140/windesktop/msvcstl/static/rt-dyn/x64/Release/gtest.lib
chess-engine/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.5/lib/native/v140/windesktop/msvcstl/static/rt-dyn/x64/Release/gtest_main.lib
chess-engine/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.5/lib/native/v140/windesktop/msvcstl/static/rt-dyn/x86/Debug/gtest_maind.lib
chess-engine/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.5/lib/native/v140/windesktop/msvcstl/static/rt-dyn/x86/Debug/gtestd.lib
chess-engine/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.5/lib/native/v140/windesktop/msvcstl/static/rt-dyn/x86/Release/gtest.lib
chess-engine/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.5/lib/native/v140/windesktop/msvcstl/static/rt-dyn/x86/Release/gtest_main.lib
chess-engine/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.5/license (MIT).txt
chess-engine/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.5/ThirdPartyNotices.txt
chess-engine/x64/Debug/chess-engine.exe
chess-engine/x64/Debug/chess-engine.exe.gta.testdurations
chess-engine/x64/Debug/chess-engine.ilk
chess-engine/chess-engine/x64/Debug/chess-engine.vcxproj.FileListAbsolute.txt
